@CHARSET "utf-8";
.topic {
	font-size: 20pt;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
	margin-bottom:30px;
	color: black;
	padding-top: 10px;
	background-color:#c3dff7;
	 
}
.content {
	margin: auto auto;
	width: 1080px;
	
	font-size: 12pt;
	text-align: left;
	color: black;
	
		
}
#container #item {
	text-indent: 2em;
}
#container {
	
	width: 100%;
	height: 100%;
	
	background-color:#c3dff7;
}
p {
		margin-top:10pt;
	margin-bottom: 10pt;
}

